<form id="login-form" action="/login" method="POST">
    <label for="text">
        User Name
        <input type="text" name="username" id="username" placeholder="User Name..." /> 
    </label>
    <label for="text">
        Password 
        <input type="text" name="password" id="password" placeholder="Password..." /> 
    </label>
    <button type="submit">Log In</button>
</form>

{{#if error}}
<p class="error">Invalid Login</p>
{{/if}}
