<form id="primeChecker" onsubmit="return validate();" class="primeChecker">
    <label for="number">
        Number
        <input type="number" name="number" id="prime-input" placeholder="Number..." class="prime-input"/> 
    </label>
    <button type="submit">Check</button>
</form>

<li id="attempts" class="attempts">

</li>