<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/public/site.css">
    </head>

    <body>
        <main>
            {{{body}}}
        </main>
    </body>

</html>