* {
  box-sizing: border-box;
  background-color: black;
  color: white;
}

main {
  padding: 10px;
}

body {
    width: 50%;
    margin:auto;
    padding: 15px;
}

.search-input {
    border: 12px;
    color: cyan;
}

.error {
    color: red;
    font-size: 24px;
    padding: 20px;
}

.not-found {
    color: green;
    font-size: 24px;
    padding: 10px;
}

h2,
h1,
dd,
dt,
li {
    width:50%;
    margin:auto;
}

dt {
    padding: 5px;
}

dd {
    color:cyan;
}