* {
    box-sizing: border-box;
    background-color: black;
    color: white;
  }

  body{
      text-align: center;
  }

  form{
      display: inline-block;
  }

  ul{
      text-align: center;
  }

  footer{
      color: magenta;
      font-size: 24px;
  }

  .is-prime {
      color: #00E676;
      font-size: 28px;
  }

  .not-prime {
      color: #FF3D00;
      font-size: 28px;
  }

  .attempts {
      margin: 0 auto;
  }

  .primeChecker {
      margin: 0 auto;
  }

  .prime-input {
      color: cyan;
      font-size: 20px;
  }