<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Prime Number Checker</title>
        <link rel="stylesheet" href="/public/site.css">
    </head>

    <body>

        <main>
           {{{body}}}
        </main>

        <script src="/public/primes.js"></script>

        <footer>
            <p>Sebastian Pokrywa 10408740</p>
        </footer>

    </body>
</html>