<h1>People Found</h1>
<h2>{{personName}}</h2> 
{{#if people}}
<ul>
{{#each people}}
    <li>
        <a href="/details/{{id}}">{{firstName}} {{lastName}}</a>
    </li>
{{/each}}
</ul> 
{{else}}
<p class="not-found">We're sorry, but no results were found for {{personName}}.</p>
{{/if}}
<a href="/">Make another search</a>