<h1>{{title}}</h1>
<p>This site will take your search input and return up to 20 individuals with names that can be matched to the given input.</p>

<form action="/search" method="POST">
    <label id="personName">
        Search Input
        <input type="text" name="personName" id="personName" placeholder="Input" class="search-input"/> 
    </label>
    <button type="submit">Search</button>
</form>

{{#if error}}
<p class=error>{{error}}</p>
{{/if}}